<% content_for :head_title do %>
  <title>Add Equipment</title>
<% end %>

<% content_for :javascript_link do %>
  <%= javascript_pack_tag 'equipment_add' %>
<% end %>

<div>
  <div id="equipment_add"></div>
</div>