<% content_for :head_title do %>
  <title>Equipment List</title>
<% end %>

<% content_for :javascript_link do %>
  <%= javascript_pack_tag 'equipment_list' %>
<% end %>

<div>
  <div id="equipment_list"></div>
</div>