<% content_for :head_title do %>
  <title>Equipment Rental</title>
<% end %>

<% content_for :javascript_link do %>
  <%= javascript_pack_tag 'equipment_rental' %>
<% end %>

<div>
  <div id="equipment_rental"></div>
</div>