<% content_for :head_title do %>
  <title>Equipment List</title>
<% end %>

<% content_for :javascript_link do %>
  <%= javascript_pack_tag 'api_test' %>
<% end %>

<div>
  <div id="api_test"></div>
</div>